.with-bottom-padding {
  display: block; /* ensures spacing works */
  margin-bottom: 100px;
}
.ion-no-border {
  --border-width: 0;
}


ion-content {
  --background: #f8f9fa; /* light gray background */
}

/* Round the cards */
.rounded-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
ion-text {
    white-space: pre-line;

}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}