<app-header
  [title]="'ONBOARDING.PAGE_TITLE' | translate"
  [showBack]="false"
  color="mymoodlogcolor"
></app-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <!-- general  -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.WELCOME_TEXT' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <ul style="margin-left: 0; padding-left: 20px; margin-top: 0px;">
          <li>{{ 'ONBOARDING.WELCOME_LIST_ITEM_1' | translate }}</li>
          <li>{{ 'ONBOARDING.WELCOME_LIST_ITEM_2' | translate }}</li>
        </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Step by step -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.NUMBERED_LIST_HEADING' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <ol style="margin-left: 0; padding-left: 20px; margin-top: 0px;">
          <li>{{ 'ONBOARDING.NUMBERED_LIST_ITEM_1' | translate }}</li>
          <li>{{ 'ONBOARDING.NUMBERED_LIST_ITEM_2' | translate }}</li>
          <li>{{ 'ONBOARDING.NUMBERED_LIST_ITEM_3' | translate }}</li>
          <li>{{ 'ONBOARDING.NUMBERED_LIST_ITEM_4' | translate }}</li>
        </ol>
      </ion-text>
    </ion-card-content>
  </ion-card>


    <!-- Haftungsausschluss -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.DISCLAIMER_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>{{ 'ONBOARDING.DISCLAIMER_CONTENT' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Urheberrecht -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.COPYRIGHT_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>{{ 'ONBOARDING.COPYRIGHT_CONTENT' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Open Source -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.OPEN_SOURCE_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>
         {{ 'ONBOARDING.OPEN_SOURCE_CONTENT_1' | translate }} <a href="https://github.com/Reisenthaler/MyMoodLog" target="_blank" rel="noopener noreferrer"> {{ 'ONBOARDING.OPEN_SOURCE_CONTENT_2' | translate }} </a> {{ 'ONBOARDING.OPEN_SOURCE_CONTENT_3' | translate }}
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Export / Import -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.EXPORT_IMPORT_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="margin-bottom: 12px;">
        <ion-text color="dark">
          <p>{{ 'ONBOARDING.EXPORT_IMPORT_CONTENT' | translate }}</p>
        </ion-text>
      </div>
      <app-button
        size="wide-small"
        color="default"
        [label]="'ONBOARDING.EXPORT_IMPORT_BUTTON' | translate"
        routerLink="/export-import"
      ></app-button>
    </ion-card-content>
  </ion-card>

    <!-- Impressum -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'ONBOARDING.IMPRESSUM_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p innerHTML="{{ 'ONBOARDING.IMPRESSUM_CONTENT' | translate }}"></p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- App version info -->
  <ion-card class="rounded-card" style="margin-bottom: 50px;">
    <ion-list lines="full">
      <ion-item>
        <ion-label>
          {{ "ONBOARDING.VERSION" | translate }}
        </ion-label>
        <ion-note slot="end">{{ appInfo?.version }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>
          {{ "ONBOARDING.BUILD_DATE" | translate }}
        </ion-label>
        <ion-note slot="end">{{ appInfo?.buildDate }}</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          {{ "ONBOARDING.COMMIT" | translate }}
        </ion-label>
        <ion-note slot="end">{{ appInfo?.commit }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-button
      size="wide"
      color="green"
      icon="add"
      [label]="'ONBOARDING.START_BUTTON' | translate"
      (clicked)="finishOnboarding()"
      style="width: 100%; margin-left: 10%;"
    ></app-button>
  </ion-toolbar>
</ion-footer>