<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MOOD_LOG_HISTORY.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Filter control -->
  <ion-segment [(ngModel)]="selectedRange" (ionChange)="filterHistory()" style="padding-bottom: 10px;">
    <ion-segment-button value="7">
      <ion-label>{{ 'MOOD_LOG_HISTORY.FILTER.LAST_7' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="30">
      <ion-label>{{ 'MOOD_LOG_HISTORY.FILTER.LAST_30' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>{{ 'MOOD_LOG_HISTORY.FILTER.ALL' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Graph at the top -->
  <app-mood-log-graph
    [history]="filteredHistory"
    [moodItems]="moodItems"
  ></app-mood-log-graph>

  <!-- List of entries -->
  <ion-list *ngIf="filteredHistory.length > 0; else noLogs">
    <ion-item *ngFor="let log of filteredHistory">
      <ion-label>
        <h2>{{ log.date | date: 'short' }}</h2>
        <p>
          {{ 'MOOD_LOG_HISTORY.NOTIFICATION' | translate }}:
          {{ log.notificationId || ('MOOD_LOG_HISTORY.MANUAL' | translate) }}
        </p>
        <ul>
          <li *ngFor="let entry of (log.selections | keyvalue)">
            {{ getMoodName(entry.key) }} →
            {{ 'MOOD_LOG_HISTORY.INTENSITY' | translate }} {{ entry.value }}
          </li>
        </ul>

       <!-- Show comment if it exists -->
        <p *ngIf="log.comment" class="comment">
          <strong>{{ 'MOOD_LOG_HISTORY.COMMENT' | translate }}:</strong>
          {{ log.comment }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noLogs>
    <p>{{ 'MOOD_LOG_HISTORY.NO_LOGS' | translate }}</p>
  </ng-template>
</ion-content>