<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MOOD_LOG_HISTORY.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="history.length > 0; else noLogs">
    <ion-item *ngFor="let log of history">
      <ion-label>
        <h2>{{ log.date | date: 'short' }}</h2>
        <p>
          {{ 'MOOD_LOG_HISTORY.NOTIFICATION' | translate }}:
          {{ log.notificationId || ('MOOD_LOG_HISTORY.MANUAL' | translate) }}
        </p>
        <ul>
          <li *ngFor="let entry of (log.selections | keyvalue)">
            {{ getMoodName(entry.key) }} →
            {{ 'MOOD_LOG_HISTORY.INTENSITY' | translate }} {{ entry.value }}
          </li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noLogs>
    <p>{{ 'MOOD_LOG_HISTORY.NO_LOGS' | translate }}</p>
  </ng-template>
</ion-content>