ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.with-bottom-padding {
  --padding-bottom: 120px; /* adjust to be >= button height + margin */
}

.scrollable-list {
  flex: 1; /* take up available space */
  overflow-y: auto; /* make it scrollable */
}

.save-button-container {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* or 100% if you want full width */
  z-index: 1000; /* make sure it stays above content */
}