<app-header
  [title]="'NOTIFICATION_SETTINGS.PAGE_TITLE' | translate"
  [showBack]="true"
  color="mymoodlogcolor"
></app-header>

<ion-content >

   <!-- Select number of notifications per day -->
    <ion-item style="margin-top: 40px;">
      <ion-label>{{ 'NOTIFICATION_SETTINGS.NOTIFICATIONS_PER_DAY' | translate }}</ion-label>
      <ion-select
        [(ngModel)]="notificationsPerDay"
        (ionChange)="updateTimes()"
      >
        <ion-select-option *ngFor="let n of [0,1, 2, 3, 4, 5]" [value]="n">
          {{ n }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Scrollable list -->
  <ion-list class="scrollable-list">


    <!-- Select times -->
    <ion-item *ngFor="let t of times; let i = index">
      <ion-label>
        {{ 'COMMON.NOTIFICATION' | translate }} {{ i + 1 }}
      </ion-label>

      <!-- Trigger button -->
      <ion-datetime-button
        [datetime]="'notifTimePicker' + i"
        display-format="HH:mm"
        style="padding-top: 10px; padding-bottom: 10px;"
      ></ion-datetime-button>

      <!-- Modal with actual picker -->
      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            [id]="'notifTimePicker' + i"
            [(ngModel)]="times[i]"
            presentation="time"
            hourCycle="h23"
            locale="de-AT"
            show-default-buttons="true"
            done-text="OK"
            cancel-text="Abbrechen"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>

</ion-content>

<!-- Fixed button at bottom -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-button
      size="wide"
      color="green"
      icon="add"
      [label]="'NOTIFICATION_SETTINGS.SAVE_AND_SCHEDULE' | translate"
      (clicked)="saveSettings()"
      class="footer-button"
    ></app-button>
  </ion-toolbar>
</ion-footer>