<ion-header>
  <ion-toolbar>
    <ion-title>Mood Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of moodItems">
      <ion-label>{{ item.name }}</ion-label>
      <ion-select [(ngModel)]="selections[item.id]" placeholder="Select intensity">
        <ion-select-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
          {{ i }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="save()">Save</ion-button>
</ion-content>