<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MOOD_LOG.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of moodItems">
      <ion-label>{{ item.name }}</ion-label>
      <ion-select
        [(ngModel)]="selections[item.id]"
        [placeholder]="'MOOD_LOG.SELECT_INTENSITY' | translate"
      >
        <ion-select-option
          *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"
          [value]="i"
        >
          {{ i }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Comment field -->
  <ion-item>
    <ion-label position="stacked">
      {{ 'MOOD_LOG.COMMENT_LABEL' | translate }}
    </ion-label>
    <ion-textarea
      [(ngModel)]="comment"
      [placeholder]="'MOOD_LOG.COMMENT_PLACEHOLDER' | translate"
      autoGrow="true"
    ></ion-textarea>
  </ion-item>

  <app-button
    size="wide"
    color="green"
    icon="save"
    [label]="'MOOD_LOG.SAVE_BUTTON' | translate"
    (clicked)="save()"
    style="margin-bottom: 16px; margin-left: 10%;"
  ></app-button>
</ion-content>