<ion-header [translucent]="true">
  <ion-toolbar [color]="color">
    @if (showBack) {
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    <ion-title>
      @if (title) {
        {{ title }}
      } @else {
      }
    </ion-title>

    <!-- slot for page-specific actions: use <div header-actions>...</div> inside header usage -->
    <div slot="end">
      <ng-content select="[header-actions]"></ng-content>
    </div>
  </ion-toolbar>
</ion-header>
