<div class="popup" *ngIf="isOpen">
  <div class="popup-content">
    <!-- Heading -->
    <h2 class="heading">{{ heading }}</h2>

    <!-- Input (single line) -->
    <input
      *ngIf="!multiline"
      #inputElement
      type="text"
      [(ngModel)]="userInput"
      class="custom-input"
      [placeholder]="placeholder"
      (focus)="scrollInputIntoView(inputElement)"
    />

    <!-- Textarea (multiline) -->
    <textarea
      *ngIf="multiline"
      #inputElement
      [(ngModel)]="userInput"
      class="custom-input" 
      [placeholder]="placeholder"
      rows="5"
      (focus)="scrollInputIntoView(inputElement)"
    ></textarea>

    <!-- Buttons -->
    <div class="button-container">
      <app-button
        size="small"
        color="red"
        [label]="cancelLabel"
        (clicked)="close()"
        style="flex: 1"
      ></app-button>

      <app-button
        size="small"
        color="green"
        [label]="saveLabel"
        (clicked)="submit()"
        style="flex: 1"
      ></app-button>
    </div>
  </div>
</div>