<ion-list class="scrollable-list">
  <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
    <ion-label>Level {{ i }}</ion-label>
    <ion-select [(ngModel)]="item.scalePlans[i]">
      <ion-select-option [value]="null">None</ion-select-option>
      <ion-select-option *ngFor="let plan of crisisPlans" [value]="plan.id">
        {{ plan.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<!-- ✅ Replaced with custom buttons -->
<div class="button-container">
  <app-button
    size="medium"
    color="green"
    icon="save"
    label="Save"
    (clicked)="save()"
  ></app-button>

  <app-button
    size="medium"
    color="red"
    icon="close"
    label="Cancel"
    (clicked)="cancel()"
  ></app-button>
</div>