<ion-list class="scrollable-list">
  <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
    <ion-label>{{ 'MOOD_SCALE.LEVEL' | translate:{ i: i } }}</ion-label>
    <ion-select [(ngModel)]="item.scalePlans[i]">
      <ion-select-option [value]="null">
        {{ 'MOOD_SCALE.NONE' | translate }}
      </ion-select-option>
      <ion-select-option *ngFor="let plan of crisisPlans" [value]="plan.id">
        {{ plan.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

  <div class="button-container"> 
    <app-button
      size="small"
      color="red"
      icon="close"
      [label]="'MOOD_SCALE.CANCEL' | translate"
      (clicked)="cancel()"
      style="flex: 1"
    ></app-button>
    <app-button
      size="small"
      color="green"
      icon="save"
      [label]="'MOOD_SCALE.SAVE' | translate"
      (clicked)="save()"
      style="flex: 1"
    ></app-button>
</div>