.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 10px;
  @media (max-width: 330px) {
    flex-direction: column;
  }
}

.none-selected {
  --color: #888;        /* text color */
  --border-color: #888; /* outline border color */
}