<ion-header>
  <ion-toolbar>
    <ion-title>Meine Liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Heading for Mood List -->
  <ion-list-header>
    <ion-label>Mood Tracking</ion-label>
  </ion-list-header>

  <!-- Mood List -->
  <app-mood-list></app-mood-list>

  <ion-item-divider></ion-item-divider>

  <!-- Heading for Crisis Plans -->
  <ion-list-header>
    <ion-label>Crisis Plans</ion-label>
  </ion-list-header>

  <!-- Crisis Plan List -->
  <app-crisis-plan-list></app-crisis-plan-list>
</ion-content>