<ion-header>
  <ion-toolbar>
    <ion-title>My Mood Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button detail (click)="goTo('mood-tracking-settings')">
      <ion-label>Mood Tracking Settings</ion-label>
    </ion-item>

    <ion-item button detail (click)="goTo('crisis-plan-settings')">
      <ion-label>Crisis Plans Settings</ion-label>
    </ion-item>

    <ion-item button detail (click)="goTo('notification-settings')">
      <ion-label>Notification Settings</ion-label>
    </ion-item>

    <ion-item button detail (click)="goTo('mood-log-history')">
      <ion-label>Mood Log History</ion-label>
    </ion-item>
  </ion-list>
</ion-content>