<ion-list>
  <ion-item *ngFor="let item of items">
    <ion-label>
      {{ item.name }}
    </ion-label>

    <!-- Toggle button -->
    <ion-button
      [color]="item.active ? 'success' : 'medium'"
      (click)="toggleItem(item)"
    >
      {{ item.active ? 'Aktiv' : 'Inaktiv' }}
    </ion-button>

    <!-- Edit/Delete only for custom items -->
    <ion-button
      fill="clear"
      color="primary"
      (click)="editItem(item)"
      *ngIf="!item.isDefault"
    >
      <ion-icon name="create"></ion-icon>
    </ion-button>

    <ion-button
      fill="clear"
      color="danger"
      (click)="removeItem(item)"
      *ngIf="!item.isDefault"
    >
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<!-- Add new item -->
<ion-item>
  <ion-input
    placeholder="Neues Element hinzufügen"
    [(ngModel)]="newItemName"
  ></ion-input>
  <ion-button (click)="addItem()">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-item>