ion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-button {
  margin-left: 8px;
}
.add-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}