<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'LEGAL_NOTICE_DISCLAIMER.PAGE_TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Impressum -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'LEGAL_NOTICE_DISCLAIMER.IMPRESSUM_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>{{ 'LEGAL_NOTICE_DISCLAIMER.IMPRESSUM_CONTENT' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Haftungsausschluss -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'LEGAL_NOTICE_DISCLAIMER.DISCLAIMER_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>{{ 'LEGAL_NOTICE_DISCLAIMER.DISCLAIMER_CONTENT' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Urheberrecht -->
  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'LEGAL_NOTICE_DISCLAIMER.COPYRIGHT_TITLE' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p>{{ 'LEGAL_NOTICE_DISCLAIMER.COPYRIGHT_CONTENT' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>